@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "wireframe";
  --color-primary: #295e3f;
  --color-secondary: #fffef2;
  --color-accent: #fcfcdf;
  --color-neutral: #fffff3;
}
html {
  scroll-behavior: smooth;
}
.btn-no-bg-hover {
  @apply bg-none text-white hover:bg-transparent border-none transition-colors duration-300;
}
